.home_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
}

.home_container h1 span {
    color: #ffbb33;
    padding: 0 0.2em;
    background-color: #222;
}


.home_container p {
    margin-bottom: 1.5em;
    color: #7b7b7b;
    text-align: center;
}

.home_container img {
    width: 350px;
    margin: 2em 0;
}


@media (max-width: 372px) and (min-width: 330px) {

    .home_container h1 {
        font-size: 19.5px; 
    }

    .home_container span {
        font-size: 20.5px;
    }

    .home_container p {
        padding-left: 1em;
        font-size: 15px;
    }
}



@media (max-width: 329px){

    h1 {
        display: block;
        margin-bottom: 0.5em;
        
        
    }
    
    h1 span {
        display: block;
        width: 55%;
        margin-left: 1.2em;
        margin-top: 5px;
        font-size: 30px;
    }

}

@media (max-width: 291px) {

    h1 {
        font-size: 20px;
    }
    h1 span {
        font-size: 20px;
        width: 47%;
        margin-left: 1.7em;
    }
    .home_container p {
        font-size: 13px;
    }
}
